/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------- CUSTOM CSS -------------------- */
/* -------------- CUSTOM CSS FINAL PROJECT------- */
html{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

}
body{
	line-height: 1.5;
}
/* ----test-------- */


h1,h2{
	font-weight: bold;
    
}
h1{
	font-size: 5.063rem;
}
h2{
	font-size: 3.375rem;
}

p{
	margin: 1rem 0;
}


  
/* --------- MOBILE STYLE --------- */

@media screen and (min-width: 760px){

/* --------HEADER NAV --------- */
.logo{
 display:block;
 margin-left: 1rem;
 margin-top: 1rem; 
}

.logo-img{
display: flex;
background-color: #c78c06;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 1rem;
justify-content: center;
}
.header-container{
	width: 100%;
}
.main-nav{
	background-color: #222;
	font-size: 1rem;
	display: block;
	width: 100%;
}
.nav-list{
	text-decoration: none;
	padding: 1rem 3rem 1rem 3rem;
	display: block;
}
.nav-list{
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
}
.nav-list li{
	color: #c78c06;
}
.nav-list a{
	color: #c78c06;
	display: block;
}
.nav-list hover{
 color:#c78c06;
}






/* ----------- DESKTOP STYLE --------- */

@media screen and (min-width: 600px) and (max-width: 1200px){
	html {
		font-size: 16px;
	}
}
/* ------------- DESKTOP HEADER NAV---------- */
.nav-list{
	display:flex;
	flex-flow: row wrap;
	margin: none;

}
.nav-list li{
	font-size: 1rem;
}
.nav-list a:link{
	text-decoration: none;
	padding: 1rem 1rem 1rem 1rem;
	display: inline-block;
}
.logo{
	display: inline-block;
	margin:0 auto;
}
.logo-img{
	background-color: transparent;
	display: inline-block;
	margin-right: 40px;
	padding: 10px 0px 10px 0px;
}
.search input{
	width: auto;
	height: 30px;
	display: inline-block;
	margin: 10px 0px 10px 10px;
	font-size: 1rem;
}
/* ----------- MAIN BANNER ---------- */
.main-banner {
	position: relative;
	margin: 0%;
}

.welcome{
	position: absolute;
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
    background:#000;
    background: rgba(0, 0, 0, 0.6);
    color:#FFF;
}

  




/* -------------Buttons------------- */

/* Contact with us Button */
.c-btn{
	padding: 20px;
	border: 2px solid #c78c06;
	border-radius: 4px;
	background-color: #c78c06;
	text-decoration: none;
	color: #222;
	display: inline-block;
}
/* -----Digital Plan Button -----*/
.dp-btn{
	padding: 20px;
	border: 2px solid #222;
	border-radius: 4px;
	background-color: #222;
	text-decoration: none;
	color: white;
	display: block;

}
/* ----Learn more Button ----- */
.l-btn{
	padding: 20px;
	border: 2px solid #c78c06;
	border-radius: 4px;
	background-color: #222;
	text-decoration: none;
	color: white;
	display: inline-block;
}
/* ------ALL SREVICES BUTTONS----- */
.btn{
	padding: 20px;
	border: 2px solid #222;
	border-radius: 4px;
	background-color: #222;
	text-decoration: none;
	color: white;
	display: block;
}
/* ---------- ABOUT US --------- */
.main-container{
	display:flex;
    background-color:#ffe6ac;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    justify-content: center;

}
/* --------OUR SERVICES--------- */
.services-container{
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
	" our-service our-service"
	"service-1 service-2"
	"service-3 service-4 service-5";
	gap:2em;
	background-color: #ffe6ac;
}
/* -------- OUR VISION --------- */


/* ------- TEAM JOHN BOB ------- */
.team-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
	"left team-text-j"
	"team-text-b right";
	gap:2em;
	background-color: #ffe6ac;
	

  /* -------- SITE FOOTER --------- */
.footer{
	background-color: #222;
}
.ul{
	padding: 10px;
	color: #c78c06;
  }
.footer a:link {
	padding: 1rem 1rem 1rem 1rem;
	color: #c78c06;
}
  