/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------- From this Point and Onwards My Custom CSS will Start First I will set rules for The Body Area First------- */

body {
background-image: url("../images/bg-image/scooter.svg");
background-repeat: no-repeat;
/*background-attachment: fixed;*/
background-position: center;
background-color: white;
background-color: white;
font-family: arial, Helvetica, sans-serif;

}
/* ------- Here For All Headings Specific Rules are Set  as Bold, Font weight, paddings, and margin as well------  */

h1, h3, h5 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
h1 {
    font-size: 3rem;
    
}
h3 {
    font-size: 1.5rem;
}
h6{
    padding:15px;
}
p {
    line-height: 1.4;
    padding: 20px;
    margin: 5px;
}
.logo {
    display: flex;
    height: 100px; width: 100px; 
    padding: 20px;
}


/* ------- At this point For the  Contact form (Apply Now) in the main Section, Properties are Defined including Box property and shadow radius */
.contactform{
    display: block;
    /*float: right;*/
    width: 300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

  }
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
}


/* ---- FOR THE Hours Calculation From IN THE FOOER AREA CSS strarts from this POINT------- */
.hours-form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 20px;
}


/* ------- Below I have set CSS for the "Drive with US" button in the main section by adding Green backgroung and inline-block */
.btn-1{
	padding: 20px;
	background-color: #57eeab;
	text-decoration: none;
	color: black;
    font-weight: bold;
	display: inline-block;
    width: 100px;
    margin: 15px;

}
/* ------- Here  I have set CSS for the "Calculate" button in the footer area by adding Pink backgroung and inline-block */
.btn-2{
	padding: 10px;
	background-color: #ff8480;
	text-decoration: none;
	color: white;
	display: inline-block;
    width: 100px;
    margin: 10px;

}

/*-------Here Footer Back-ground Color, And Social Media Icons Properties are defined as Per Exercise Requirements ------ */
footer {
    background-color: #fffd8c;   
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    color: black;
    text-decoration: none;
}
/* ------- Media Queries Are set at this point for Different devices from 800 - 1200 width-------- */
@media (min-width: 800px) {
    .grid {
        width: 800px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "logo logo logo"
            "main main main"
            "footer footer footer"
    }

    .logo { grid-area: logo; }
    .main { grid-area: main; }
    .sidebar { grid-area: sidebar; }
    footer { grid-area: footer; }
}

@media (min-width: 1000px) {
    .grid {
        width: 1000px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "logo logo logo"
            "main main main"
            "footer footer footer"
    }
}


@media (min-width: 1200px) {
    .grid {
        width: 1200px;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}