/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----- From This Point Custome CSS For Exercise-1 MTM6201-010 Will Start -----  */
/* --- First Font Pairing Code For The Page is Given ---*/
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

*{
	box-sizing: border-box;
}

/* --- NAV BAR: From This Point I Have Changed The Color Of Nav Bar Background & Border, Including Home, About, & Contact Buttons Font Color  --- */
#nav.nav{
	background-color: burlywood;
	border: 3px solid burlywood;
	width: 100%;	
}
#nav.nav a.nav-link{
	color: black;
}
/* --- FIRST SECTION:I have Changed The Background Color & Font Styles For The First Section Before Its Background Color  Was Indianred  ---*/
#home.home{
	background-color: #e7d4b5;
}
#main section.home{
	font-family:'Arial Narrow Bold', sans-serif;
	font-size: 1.25rem;
	text-align: center;
} 
.page-title{
	font-family: 'Reggae One', cursive;
	padding-bottom: 15px;
}
.p{
	font-family: Arial, Helvetica, sans-serif;
}
/* --- SECOND SECTION: I  have Changed The Background Color And Font Styles For The Second Section Before Its Background  Was Greenyellow Color ---*/
#about.about{
 background-color: #f6e6cb;

}
#about.about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color: black;
  }
  .section-title{
	font-family: 'Reggae One', cursive;
	padding-bottom: 15px;  
  }
  .p{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 10px;
}
/* --- THIRD seCTION: I have Changed The Background Color and Font Styles For The Third Section Before Its Background Was Rebeccapurple Color---*/	
 #main.main{
	background-color: #f6e6cb;
	 
  }
  #contact.contact .contact-form {
	width: auto;  
	padding: 30px;
	background-color: burlywood;
  }
  #contact.contact p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	text-align: center;
	padding: 15px;	
  }
  /* --- SITE FOOTER: is Placed in the Center Instead of left side to justify with rest of the site contents to create a good and unified look -*/	
  footer{
	  text-align: center;
	  padding: 10px;
  }
  /* --- Media Queries STARTS FROM HERE ---*/
  @media screen (min-width: 600px){
	#nav.nav{
   display: flex;
   justify-content: center;
   width: 100%;
  }
  @media screen (min-width: 750) {
	#nav.nav{
		#nav.nav{
			display: flex;
			text-align: center;
			width: 100%;	
	
	}
  }
  @media screen (min-width: 1200px) {
	#nav.nav{
		#nav.nav{
			display: flex;
			text-align: center;
			width: 100%;	
	
	}
	